<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unit">
            <h2><span>Unit</span> {{ unit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ unit.code }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ unit.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ unit.description }}</span>
                </dd>
                <dt><span>Is Base Unit</span></dt>
                <dd>
                    <span>{{ unit.isBaseUnit }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ unit.createdBy }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ unit.createdDate }}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{ unit.lastModifiedBy }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ unit.lastModifiedDate }}</span>
                </dd>
                <dt><span>Record Status Id</span></dt>
                <dd>
                    <span>{{ unit.recordStatusId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unit', unit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
