<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tax">
            <h2><span>Tax</span> {{ tax.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ tax.code }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ tax.name }}</span>
                </dd>
                <dt><span>Tax Rage</span></dt>
                <dd>
                    <span>{{ tax.taxRage }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ tax.description }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ tax.createdBy }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ tax.createdDate }}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{ tax.lastModifiedBy }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ tax.lastModifiedDate }}</span>
                </dd>
                <dt><span>Record Status Id</span></dt>
                <dd>
                    <span>{{ tax.recordStatusId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tax', tax.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
